numpy==1.24.2
waitress
git+https://github.com/cocodataset/panopticapi.git#egg=panopticapi
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI&egg=pycocotools
cython
submitit
Flask==2.2.3
matplotlib==3.7.1
pandas==2.0.0
Pillow==9.5.0
scipy==1.10.1
seaborn==0.12.2
torch==2.0.0
torchvision==0.15.1